*{
     margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    font-family: Arial;
        background: linear-gradient(270deg, #020024, #090979, #00d4ff);

}

.container{
      position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #020024, #090979, #00d4ff);
    z-index: -1;
}
.quiz{
    color: red;
    text-shadow: 0dvh;
}
h1{
   display: inline-block;
    font-size: 90px;
 color: #39C7E2;
 text-shadow: #FCB730;

}

h2{
   font-size: 40px;
    color:#FCB730;
    
}
.container,.quiz, .para, .start{
    text-align: center;
}
.para{
    background: rgba(255,255,255,0.1);
    text-align: center;
    padding: 20px;
    height: 200px;
    margin-left: 450px;
    align-content: center;
    width: 600px;
    margin-top: 12px;
    box-shadow: whitesmoke;
   font-size: large;
    color: white;   
    border: solid #ccdff6 3px; 
    border-radius: 5px;

}
.para:hover{
    color: gold;
}
.start{
    padding: 2px;
    display:flex;
    border: none;
    margin-top: 10px;
    box-shadow: 10vh;
    justify-content: center;
}
.btn{
    background-color: darkblue;
    padding: 10px;
    width: fit-content;
    border: solid white 1px;
    border-radius: 20px;
    color: white;
    
    font-size: medium;
    
    
}
.btn:hover{
    background-color: #1111ff;
    box-shadow: 0ch;


}